# Automatic Verification Tools

## Run QSORT to verify Scarab produces stats similar to golden stat files
[QSORT Sanity Check](qsort-example-docs/_build/html/index.html)
