name: Build Checkpoint Creator and Loader

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build-checkpoint-creator:

    runs-on: ${{ matrix.os }}
    
    strategy:
      matrix:
        #os: [ubuntu-16.04, ubuntu-18.04, ubuntu-20.04]
        os: [ubuntu-18.04, ubuntu-20.04]
        gcc: [9]

    steps:
    - name: Install Scarab Dependencies
      id: install-scarab
      if: steps.cache-scarab-dep.outputs.cache-hit != 'true'
      uses: actions/checkout@v2
      with:
        path: scarab-dependencies
        repository: hpsresearchgroup/scarab-dependencies
        token: ${{ secrets.HPS_ACCESS_TOKEN }}
      env:
        PIN_ROOT: $(pwd)/scarab-dependencies/pinplay-drdebug-3.5-pin-3.5-97503-gac534ca30-gcc-linux
        
    # Check out scarab repo
    - uses: actions/checkout@v2
      with:
        path: scarab
    
    - name: Build Checkpoint Creator
      env:
        PIN_ROOT: ${{ github.workspace }}/scarab-dependencies/pinplay-drdebug-3.5-pin-3.5-97503-gac534ca30-gcc-linux
      run: |
        CC="gcc-${{ matrix.gcc }}"
        CXX="g++-${{ matrix.gcc }}"
        ${CC} --version
        ${CXX} --version
        CC=${CC} CXX=${CXX} make -C scarab/utils/checkpoint/creator/
        
    - name: Build Checkpoint Loader
      run: |
        CC="gcc-${{ matrix.gcc }}"
        CXX="g++-${{ matrix.gcc }}"
        ${CC} --version
        ${CXX} --version
        make CC=${CC} CCC=${CXX} -C scarab/utils/checkpoint/loader/
